Source: goby3
Priority: extra
Maintainer: Toby Schneider <toby@gobysoft.org>
Build-Depends: cdbs (>= 0.4.130~),
               debhelper (>= 7.0.50~),
               cmake (>= 3.5.1~),
               clang (>= 1:3.8~),
               lld (>= 1:3.8~) | lld-4.0 (>= 1:3.8~),
               libboost-dev (>= 1.58~), 
               libboost-system-dev (>= 1.58~),  
               libboost-date-time-dev (>= 1.58~), 
               libboost-program-options-dev (>= 1.58~), 
               libboost-filesystem-dev (>= 1.58~), 
               libncurses5-dev (>=6.0~), 
               libprotobuf-dev (>=2.6.1~), 
               libprotoc-dev (>=2.6.1~), 
               libsqlite3-dev (>=3.11.0~),
               libzmq3-dev (>=4.1.4~),
               libgmp3-dev (>=2:6.1.0~),
               libhdf5-dev (>=1.8.16~),
               libproj-dev (>= 4.9.2~), 
               libdccl3-dev (>= 3.0.11~),
               protobuf-compiler (>=2.6.1~), 
               dccl3-compiler (>= 3.0.11~),
               libwt-dev (>= 3.3.12~),
               libwtdbo-dev (>= 3.3.12~),
               libwtdbosqlite-dev (>= 3.3.12~),
               libwthttp-dev  (>= 3.3.12~),
               libmoos10-dev (>= 10.0.2~),
               libais-dev (>= 0.17~),
               libmavlink-dev (>= 1.0.12~),
               llvm-dev (>=1:4~) [amd64] | llvm-4.0-dev [amd64] | llvm-7-dev [amd64],
               libclang-dev (>=1:4~) [amd64] | libclang-4.0-dev [amd64] | libclang-7-dev [amd64],
               libyaml-cpp-dev (>=0.5.2-3) [amd64]
Build-Depends-Indep: graphviz, 
               doxygen, 
               texlive-xetex, 
               fonts-sil-gentium | ttf-sil-gentium, 
               imagemagick, 
               texlive-fonts-recommended, 
               texlive-font-utils, 
               ghostscript, 
               lmodern, 
               texlive-latex-recommended (>= 2015.20160320~), 
               texlive-latex-extra,
               texlive-generic-recommended
Standards-Version: 3.8.4
Section: libs
Homepage: https://github.com/GobySoft/goby3

Package: libgoby3-dev
Provides: libgoby-dev
Conflicts: libgoby-dev, libgoby1-dev, libgoby2-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgoby3 (= ${binary:Version}),
         libboost-dev (>= 1.58~), 
         libboost-system-dev (>= 1.58~),  
         libboost-date-time-dev (>= 1.58~), 
         libboost-program-options-dev (>= 1.58~), 
         libboost-filesystem-dev (>= 1.58~), 
         libncurses5-dev (>=6.0~), 
         libprotobuf-dev (>=2.6.1~), 
         libprotoc-dev (>=2.6.1~), 
         libsqlite3-dev (>=3.11.0~),
         libzmq3-dev (>=4.1.4~),
         libgmp3-dev (>=2:6.1.0~),
         libhdf5-dev (>=1.8.16~),
         libproj-dev (>= 4.9.2~), 
         libdccl3-dev (>= 3.0.11~)
Recommends: protobuf-compiler (>=2.6.1~), 
            dccl3-compiler (>= 3.0.11~),
            libais-dev (>= 0.17~),
            libmavlink-dev (>= 1.0.12~),
            goby3-clang-tool (= ${binary:Version})
Description: Developers' package for the Goby Underwater Autonomy Project
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: goby3-clang-tool
Section: science
Architecture: amd64
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Clang compiler tool (goby_clang_tool) for generating metadata from Goby3 code
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: libgoby3-gui-dev
Provides: libgoby-gui-dev
Conflicts: libgoby2-gui-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgoby3 (= ${binary:Version}),
         libgoby3-dev,
         libwt-dev (>= 3.3.12~),
         libwtdbo-dev (>= 3.3.12~),
         libwtdbosqlite-dev (>= 3.3.12~),
         libwthttp-dev  (>= 3.3.12~)
Description: Developers' GUI package for the Goby Underwater Autonomy Project
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: libgoby3
Conflicts: libgoby1, libgoby2
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: goby3-apps
Conflicts: goby1-core, goby2-apps
Depends: libgoby3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Applications for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a variety of applications and tools.

Package: goby3-gui
Conflicts: goby2-gui
Depends: libgoby3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: GUI Applications for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides the Goby GUI applications, such as goby_liaison.

Package: goby3-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: doc
Architecture: all
Description: Documentation for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides Doxygen and Latex PDF user and developers' documentation.

Package: goby3-test
Depends: libgoby3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Unit tests for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a the Goby unit tests.

Package: libgoby3-moos-dev
Provides: libgoby-moos-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgoby3 (= ${binary:Version}),
         libgoby3-dev,
         libmoos10-dev (>= 10.0.2~)
Description: Developers' package for the MOOS middleware connections to the Goby Underwater Autonomy Project
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides developer headers for the MOOS Middleware (https://github.com/themoos)

Package: libgoby3-moos
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libgoby3 (= ${binary:Version})
Description: MOOS Libraries for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides libraries for the MOOS Middleware (https://github.com/themoos)

Package: goby3-moos
Conflicts: goby1-moos, goby2-moos
Depends: ${shlibs:Depends}, ${misc:Depends}, libgoby3-moos (= ${binary:Version})
Recommends: moosdb10
Section: science
Architecture: any
Description: MOOS Binaries for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides applications for the MOOS Middleware (https://github.com/themoos)
