Source: goby3
Priority: extra
Maintainer: Toby Schneider <toby@gobysoft.org>
Build-Depends: cdbs,
               debhelper (>= 7.0.50~),
               lsb-release,
               cmake, 
               libboost-dev (>= 1.58~), 
               libboost-system-dev (>= 1.58~),  
               libboost-date-time-dev (>= 1.58~), 
               libboost-thread-dev (>= 1.58~), 
               libboost-program-options-dev (>= 1.58~), 
               libboost-filesystem-dev (>= 1.58~), 
               libboost-regex-dev (>= 1.58~), 
               libncurses-dev, 
               libprotobuf-dev, 
               libprotoc-dev, 
               libsqlite3-dev,
               libzmq3-dev | libzmq-dev,
               libgmp3-dev,
               libhdf5-serial-dev | libhdf5-dev,
               libwt-dev (>= 3.3.4~),
               libwtdbo-dev (>= 3.3.4~),
               libwtdbosqlite-dev (>= 3.3.4~),
               libwthttp-dev  (>= 3.3.4~),
               protobuf-compiler, 
#               libmoos10-dev | moos (>= 0.2374~),
               libproj-dev, 
               graphviz, 
               doxygen, 
               texlive-xetex, 
               fonts-sil-gentium | ttf-sil-gentium, 
               imagemagick, 
               texlive-fonts-recommended, 
               texlive-font-utils, 
               ghostscript, 
               lmodern, 
               texlive-latex-recommended, 
               texlive-latex-extra,
               latex-xcolor | texlive-latex-recommended (>= 2015.20160320~),
               texlive-generic-recommended,
               libdccl3-dev,
               dccl3-compiler
Standards-Version: 3.8.4
Section: libs
Homepage: https://launchpad.net/goby

Package: libgoby3-dev
Provides: libgoby-dev
Conflicts: libgoby-dev, libgoby1-dev, libgoby2-dev
Section: libdevel
Architecture: any
Depends: libgoby3 (= ${binary:Version}),
         libboost-dev (>= 1.58~), 
         libboost-system-dev (>= 1.58~), 
         libboost-date-time-dev (>= 1.58~), 
         libboost-thread-dev (>= 1.58~), 
         libboost-regex-dev (>= 1.58~), 
         libboost-program-options-dev (>= 1.58~), 
         libboost-filesystem-dev (>= 1.58~), 
         libboost-regex-dev (>= 1.58~), 
         libsqlite3-dev,
         libzmq3-dev | libzmq-dev,
         libgmp3-dev,
         libncurses-dev,
         libprotobuf-dev, 
         libprotoc-dev,
#         libmoos10-dev | moos (>= 0.2374~),
         libproj-dev,
         libdccl3-dev,
         libhdf5-serial-dev | libhdf5-dev
Description: Developers' package for the Goby Underwater Autonomy Project
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: libgoby3-gui-dev
Provides: libgoby-gui-dev
Conflicts: libgoby2-gui-dev
Section: libdevel
Architecture: any
Depends: libgoby3 (= ${binary:Version}),
         libgoby3-dev,
         libwt-dev (>= 3.3.4~),
         libwtdbo-dev (>= 3.3.4~),
         libwtdbosqlite-dev (>= 3.3.4~),
         libwthttp-dev  (>= 3.3.4~)
Description: Developers' GUI package for the Goby Underwater Autonomy Project
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.


Package: libgoby3
Conflicts: libgoby1, libgoby2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

# Package: goby3-moos
# Conflicts: goby1-moos, goby2-moos
# Depends: ${shlibs:Depends}, ${misc:Depends}, moosdb10 | moos (>= 0.2374~)
# Recommends: socat
# Section: science
# Architecture: any
# Description: MOOS Binaries for the Goby Underwater Autonomy Project
#   The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
#   This package provides applications for the MOOS Middleware (http://www.robots.ox.ac.uk/~mobile/MOOS/wiki/pmwiki.php)

Package: goby3-apps
Conflicts: goby1-core, goby2-apps
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Applications for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a variety of applications and tools.

Package: goby3-gui
Conflicts: goby2-gui
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: GUI Applications for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides the Goby GUI applications, such as goby_liaison.

Package: goby3-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: doc
Architecture: all
Description: Documentation for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides Doxygen and Latex PDF user and developers' documentation.

Package: goby3-test
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Unit tests for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a the Goby unit tests.

