Source: goby2
Priority: extra
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
Build-Depends: cdbs,
               debhelper (>= 7.0.50~),
	       lsb-release,
               cmake, 
               libboost-dev (>= 1.40~), 
               libboost-system-dev (>= 1.40~),  
               libboost-date-time-dev (>= 1.40~), 
               libboost-thread-dev (>= 1.40~), 
               libboost-program-options-dev (>= 1.40~), 
               libboost-filesystem-dev (>= 1.40~), 
               libboost-regex-dev (>= 1.40~), 
               libxerces-c-dev, 
               libcrypto++-dev, 
               libncurses-dev, 
               libprotobuf-dev, 
               libprotoc-dev, 
               libsqlite3-dev,
               libzmq-dev,
               libgmp-dev,
               libwt-dev (>= 3.1.8~),
               libwtdbo-dev (>= 3.1.8~),
               libwtdbosqlite-dev (>= 3.1.8~),
               libwthttp-dev  (>= 3.1.8~),
               protobuf-compiler, 
               moos (>= 0.2374~), 
               graphviz, 
               doxygen, 
               texlive-xetex, 
               ttf-sil-gentium, 
               imagemagick, 
               texlive-fonts-recommended, 
               texlive-font-utils, 
               ghostscript, 
               lmodern, 
               texlive-latex-recommended, 
               texlive-latex-extra,
               latex-xcolor,
               texlive-generic-recommended
Standards-Version: 3.8.4
Section: libs
Homepage: https://launchpad.net/goby
#Vcs-Git: git://git.debian.org/collab-maint/goby.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/goby.git;a=summary

Package: libgoby2-dev
Provides: libgoby-dev
Conflicts: libgoby-dev, libgoby1-dev
Section: libdevel
Architecture: any
Depends: libgoby2 (= ${binary:Version}),
         libboost-dev (>= 1.40~), 
         libboost-system-dev (>= 1.40~), 
         libboost-date-time-dev (>= 1.40~), 
         libboost-thread-dev (>= 1.40~), 
         libboost-regex-dev (>= 1.40~), 
         libboost-program-options-dev (>= 1.40~), 
         libboost-filesystem-dev (>= 1.40~), 
         libboost-regex-dev (>= 1.40~), 
         libsqlite3-dev,
         libzmq-dev,
         libwt-dev (>= 3.1.8~),
         libwtdbo-dev (>= 3.1.8~),
         libwtdbosqlite-dev (>= 3.1.8~),
         libwthttp-dev  (>= 3.1.8~),
         libxerces-c-dev,
         libcrypto++-dev,
         libncurses-dev,
         libprotobuf-dev, 
         libprotoc-dev,
Description: Developers' package for the Goby Underwater Autonomy Project
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: libgoby2
Conflicts: libgoby1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: goby2-moos
Conflicts: goby1-moos
Depends: ${shlibs:Depends}, ${misc:Depends}, moos (>= 0.2374~)
Recommends: socat
Section: science
Architecture: any
Description: MOOS Binaries for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides applications for the MOOS Middleware (http://www.robots.ox.ac.uk/~mobile/MOOS/wiki/pmwiki.php)

Package: goby2-apps
Conflicts: goby1-core
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Applications for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a variety of applications and tools.

Package: goby2-gui
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: GUI Applications for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a the Goby GUI applications.

Package: goby2-doc
Conflicts: goby1-doc, libgoby1-dev
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: doc
Architecture: all
Description: Documentation for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides Doxygen and Latex PDF user and developers' documentation.

Package: goby2-test
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Unit tests for the Goby Underwater Autonomy Project
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.
  This package provides a the Goby unit tests.

