#!/usr/bin/make -f

export CTEST_OUTPUT_ON_FAILURE=ON

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_TARGET_ARCH ?= $(shell dpkg-architecture -qDEB_TARGET_ARCH)
DEB_TARGET_GNU_CPU ?= $(shell dpkg-architecture -qDEB_TARGET_GNU_CPU)
DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
VERSION_CODENAME ?= $(shell sh -c '. /etc/os-release >/dev/null 2>&1; echo $${VERSION_CODENAME:-unknown}')

CMAKE_EXTRA_FLAGS = -Denable_testing=ON
RUN_TESTS = no

ifneq ($(DEB_BUILD_ARCH),$(DEB_TARGET_ARCH))
        # cross compiling
	CMAKE_EXTRA_FLAGS += -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=$(DEB_TARGET_GNU_CPU)
	export CC=$(DEB_HOST_GNU_TYPE)-gcc
	export CXX=$(DEB_HOST_GNU_TYPE)-g++
else
# only run unit tests and build documentation on x86_64
ifeq ($(shell (dpkg-architecture -qDEB_BUILD_ARCH | egrep -q "amd64") && echo "yes"),yes)
	CMAKE_EXTRA_FLAGS += -Dbuild_doc=ON
	RUN_TESTS = yes
endif
endif

$(info $$DEB_BUILD_ARCH is [${DEB_BUILD_ARCH}])
$(info $$DEB_TARGET_ARCH is [${DEB_TARGET_ARCH}])
$(info $$CMAKE_EXTRA_FLAGS is [${CMAKE_EXTRA_FLAGS}])

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_EXTRA_FLAGS)

override_dh_auto_test:
ifeq ($(RUN_TESTS),yes)
	LD_LIBRARY_PATH=$(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)/lib dh_auto_test
endif

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)/lib -pgoby3-clang-tool -- --ignore-missing-info
	dh_shlibdeps -l$(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)/lib --remaining-packages

override_dh_dwz:
ifeq ($(VERSION_CODENAME),noble)
	# Ubuntu noble 24.04 dwz fails on goby_clang_tool with:
	# "Unknown debugging section .debug_addr"
	@echo "Skipping dh_dwz on Ubuntu noble due to dwz .debug_addr handling issue"
else
	dh_dwz -a
endif
