#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


DEB_CMAKE_EXTRA_FLAGS = -Dbuild_moos=ON -Dbuild_doc=ON -Denable_testing=ON
DEB_MAKE_ENVVARS = CTEST_OUTPUT_ON_FAILURE=ON
DEB_MAKE_CHECK_TARGET = test
DEB_BUILD_PARALLEL = true

# workaround ASIO bug in Ubuntu PPA build machines for Boost 1.49/1.50
ifeq($(shell(lsb_release -c | egrep -q "quantal|raring") && echo yes),yes)
	DEB_CMAKE_EXTRA_FLAGS += -Denable_test_asio=OFF	
endif
